1. Write a function for basic math operations like add multiply substract divide and use this in your program, take 2 number input from user.

In [5]:
def calculator(a,b,op):
    if op == '+':
        print("Addition is:",a+b)
    elif op == '-':
        print("Subtraction is:",a-b)
    elif op == '*':
        print("Multiplication is:",a*b)
    elif op == '/':
        print("Division is:",a/b)

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
op = input("enter the operation to be performed .. (+,-,*,/)")
calculator(a,b,op)

Enter first number:  3
Enter second number:  6
enter the operation to be performed .. (+,-,*,/) +

Addition is: 9

2. Write a program to check Palindrome Number

In [1]:
a = int(input("enter the number:"))
n=a
rev = 0
while n!=0:
    k = n % 10
    rev = rev * 10 + k
    n = n // 10
print("Number after reverse is: ",rev)

# Checking if palindrome or not
if rev == a:
    print("Given number is palindrome")

else:
    print("Given number is not palindrome")

enter the number: 12321

Number after reverse is:  12321
Given number is palindrome

# Practise
	Dictionary
	Tuple
	Set

In [56]:
d = {1:'python' , 2:'c++' , 3:'java' , 4:{1:'one' , 2:'two'}}
print(d)
print(type(d))
print(d[1])
print(d[4])
print(d[4][2])

{1: 'python', 2: 'c++', 3: 'java', 4: {1: 'one', 2: 'two'}}
<class 'dict'>
python
{1: 'one', 2: 'two'}
two

In [58]:
dic = {1:'python' , 2:'c++' , 3:'java' , 4:{1:'one' , 2:'two'}}
dic[5] = 'SQL'
dic2 = {}
print(dic)
print(dic.items())
print(dic.keys())
print(dic.values())
dic2.update(dic)
print(dic2)
print(dic.get(1))

{1: 'python', 2: 'c++', 3: 'java', 4: {1: 'one', 2: 'two'}, 5: 'SQL'}
dict_items([(1, 'python'), (2, 'c++'), (3, 'java'), (4, {1: 'one', 2: 'two'}), (5, 'SQL')])
dict_keys([1, 2, 3, 4, 5])
dict_values(['python', 'c++', 'java', {1: 'one', 2: 'two'}, 'SQL'])
{1: 'python', 2: 'c++', 3: 'java', 4: {1: 'one', 2: 'two'}, 5: 'SQL'}
python

In [60]:
dic1 = {'a':1,'b':2}
dic2 = {'c':3 , 'd':4}
dic2.update(dic1)
print(dic2)

{'c': 3, 'd': 4, 'a': 1, 'b': 2}

In [62]:
t = (10,20,30,40,40,40)
print(t)
print(type(t))

(10, 20, 30, 40, 40, 40)
<class 'tuple'>

In [64]:
tu = (1,True,'hlo',45,89)
l = len(tu)
for i in tu:
    print(i)

1
True
hlo
45
89

In [66]:
t=(10,20,4,5,6,65,4,4)
print(t[1:])
print(t[::-1])

(20, 4, 5, 6, 65, 4, 4)
(4, 4, 65, 6, 5, 4, 20, 10)

In [68]:
l=[10,20,30]
t=tuple(l)
print(t)
print(type(t))

(10, 20, 30)
<class 'tuple'>

In [70]:
s1={'a','b','c','d','e'}
s2={10,20,30,40}
#union
s3 = s1.union(s2)
print(s3)
s4 = s1 | s2
print(s4)

{'e', 40, 10, 'a', 20, 'd', 'b', 30, 'c'}
{'e', 40, 10, 'a', 20, 'd', 'b', 30, 'c'}

In [72]:
s1={'a','b','c','d','e',10,20}
s2={10,20,30,40,'d'}
s3 = s1.intersection(s2)
print(s3)
s4 = s1 & s2
print(s4)

{10, 20, 'd'}
{10, 20, 'd'}

In [74]:
s1={'a','b','c','d','e',10,20}
s2={10,20,30,40,'d'}
s3 = s1.difference(s2)
print(s3)
s4 = s1-s2
print(s4)

{'b', 'e', 'a', 'c'}
{'b', 'e', 'a', 'c'}

In [76]:
s2={10,20,30,40,'d'}
s2.clear()
print(s2)

set()