# Assignment - 4

1. Create a CSV file for address book , csv files should have columns for name , address , mobile , email.
   Insert 2-3 dummy data.

In [4]:
import csv
info = [['name','address','mobile','email'],
        ['Tanu','b-blk,malviya nagar','9875678976','sdfg@gmail.com'],
        ['Dev','c-blk,model town','9455374096','uytr@gmail.com'],
        ['Nia','j-blk,shivam nagar','93685788976','lkjh@gmail.com']]
with open('info.csv','w',newline='') as file:
    wri = csv.writer(file)
    for x in info:
        wri.writerow(x)

In [6]:
import csv
with open('info.csv','r') as file:
    read = csv.reader(file)
    for x in read:
        print(x)

['name', 'address', 'mobile', 'email']
['Tanu', 'b-blk,malviya nagar', '9875678976', 'sdfg@gmail.com']
['Dev', 'c-blk,model town', '9455374096', 'uytr@gmail.com']
['Nia', 'j-blk,shivam nagar', '93685788976', 'lkjh@gmail.com']

2. get data using weather API

In [ ]:
import requests

def weather(city, api_key):
    url = "https://api.openweathermap.org/data/2.5/weather?"
    final_url = f"{url}q={city}&appid={api_key}&units=metric"
    
    try:
        response = requests.get(final_url) 
        data = response.json()

        temp = data["main"]["temp"]
        humidity = data["main"]["humidity"]
        feels_like = data["main"]["feels_like"]

        print(f"Weather in {city}:")
        print(f"Temperature: {temp}°C")
        print(f"Feels Like: {feels_like}°C")
        print(f"Humidity: {humidity}%")

    except requests.exceptions.RequestException as e:
        print(f"Error fetching weather data: {e}")
    except KeyError:
        print("Error: Could not find weather information for this city. Please check the city name.")

city = input("Enter city name: ")
api_key = "1b42834476f72a199bb8833209b9ed5b"
weather(city, api_key)

3. practice database
  # i am linking mysql here...

In [16]:
import mysql.connector

conn = mysql.connector.connect(host="127.0.0.1",
    user="root",
    password="tanu")

cursor = conn.cursor()
cursor.execute("create database ass4")

In [30]:
import mysql.connector

conn = mysql.connector.connect(host="127.0.0.1",
    user="root",
    password="tanu",
    database="ass4"
)
cursor = conn.cursor()
# creating table
cursor.execute("""
CREATE TABLE IF NOT EXISTS stud (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(20),
    marks INT
)
""")

#inserting into table
cursor.execute("""
INSERT INTO stud (name, marks) VALUES 
('tanu', 50), 
('lulu', 89), 
('toffee', 67)
""")

# selecting and displaying records
cursor.execute("SELECT * FROM stud")
rows = cursor.fetchall()
for row in rows:
    print(row)

print('next query...')
cursor.execute("SELECT * FROM stud where marks>60")
rows = cursor.fetchall()
for row in rows:
    print(row)

cursor.execute("delete from stud where id=2")


conn.commit()
cursor.close()
conn.close()

(1, 'tanu', 50)
(2, 'lulu', 89)
(3, 'toffee', 67)
next query...
(2, 'lulu', 89)
(3, 'toffee', 67)

In [55]:
import mysql.connector

conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="tanu",
    database="ass4"
)

cursor = conn.cursor()

# Create table
cursor.execute("""
CREATE TABLE IF NOT EXISTS empl (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(20),
    salary INT
)
""")

# Insert data — without repeating id
cursor.execute("""
INSERT INTO empl (name, salary) VALUES 
('fgh', 50000), 
('erty', 89000), 
('kjhee', 67000),
('asdf', 56000),
('trbe', 98000)
""")

# Select all
cursor.execute("SELECT * FROM empl")
rows = cursor.fetchall()
for row in rows:
    print(row)

print('next query...')

# Select where salary > 60000
cursor.execute("SELECT * FROM empl WHERE salary > 60000")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Update salary
cursor.execute("UPDATE empl SET salary = 99000 WHERE id = 2")

# Delete record
cursor.execute("DELETE FROM empl WHERE id = 5")

conn.commit()
cursor.close()
conn.close()

(1, 'fgh', 50000)
(2, 'erty', 89000)
(3, 'kjhee', 67000)
(4, 'asdf', 56000)
(5, 'trbe', 98000)
next query...
(2, 'erty', 89000)
(3, 'kjhee', 67000)
(5, 'trbe', 98000)

# -------------DONE----------------------