# Q-1 (Series)

create a pandas series from dictionary

In [7]:
import pandas as pd
a = {'first':89,'second':78,'third':85}
s=pd.Series(a)
print(s)

first     89
second    78
third     85
dtype: int64

create a pandas series from List

In [11]:
import pandas as pd
l = [10,20,30,40,50]
s = pd.Series(l)
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

access the elements of a Series in Python

In [17]:
import pandas as pd
l = [10,20,30,40,50]
s = pd.Series(l)
print(s[0])
print(s[2])

10
30

# Q-2 (Data Frames)

Make a python data frame with a 2-D Python List

In [21]:
import pandas as pd
data = [ [101,'Tanu',89],
         [102,'Motu',79],
         [103,'Chotu',87]
       ]
df = pd.DataFrame(data,columns=['ID','Name','Marks'])
print(df)

    ID   Name  Marks
0  101   Tanu     89
1  102   Motu     79
2  103  Chotu     87

Create dataframe from python dictionary

In [23]:
import pandas as pd
details = { 'Name':['Aasim','Ali','Rahul','Abhishek'] , 'Age':[56,98,34,12] }
df = pd.DataFrame(details)
print(df)

       Name  Age
0     Aasim   56
1       Ali   98
2     Rahul   34
3  Abhishek   12

create dataframe using list of lists

In [25]:
import pandas as pd

data = [
    ['Samarth', 25, 'Engineer'],
    ['Reem', 30, 'Doctor'],
    ['Ankita', 22, 'Designer']
]
df = pd.DataFrame(data, columns=['Name', 'Age', 'Profession'])
print(df)

      Name  Age Profession
0  Samarth   25   Engineer
1     Reem   30     Doctor
2   Ankita   22   Designer

create dataframe using list of tuples

In [27]:
import pandas as pd
data = [('Sohil',56,'Developer'),
        ('Neha',23,'Designer')
       ]
df = pd.DataFrame(data, columns=['Name', 'Age', 'Profession'])
print(df)

    Name  Age Profession
0  Sohil   56  Developer
1   Neha   23   Designer

create dataframe using list of dicts

In [31]:
import pandas as pd
data = [
    {'Name': 'Aki', 'Salary': 25000, 'Profession': 'Engineer'},
    {'Name': 'Tata', 'Salary': 30000, 'Profession': 'Doctor'},
    {'Name': 'Rahul', 'Salary': 22000, 'Profession': 'Designer'}
]
df = pd.DataFrame(data)
print(df)

    Name  Salary Profession
0    Aki   25000   Engineer
1   Tata   30000     Doctor
2  Rahul   22000   Designer

# Q-3 (Data Iteration)

Different ways to iterate over rows in python -- using loc and iloc

In [34]:
import pandas as pd
details = { 'Name':['Aasim','Ali','Rahul','Abhishek'] , 'Age':[56,98,34,12] }
df = pd.DataFrame(details)
for i in range(len(df)):
    print(df.iloc[i]['Name'], df.iloc[i]['Age'])

Aasim 56
Ali 98
Rahul 34
Abhishek 12

In [36]:
import pandas as pd
details = { 'Name':['Aasim','Ali','Rahul','Abhishek'] , 'Age':[56,98,34,12] }
df = pd.DataFrame(details)
for idx in df.index:
    print(df.loc[idx]['Name'], df.loc[idx]['Age'])

Aasim 56
Ali 98
Rahul 34
Abhishek 12

Selecting rows in pandas dataframe based on conditions

In [46]:
import pandas as pd
data = {
    'Name': ['Ali', 'Arun', 'Charul', 'Dhruv'],
    'Age': [25, 30, 22, 35],
    'City': ['Delhi', 'Mumbai', 'Delhi', 'Bangalore']
}
df = pd.DataFrame(data)
# Condition of Age > 25
result = df[df['Age'] > 25]
print(result)
print('\n')
# Condition of Age >= 25 AND City == 'Delhi'
result = df[(df['Age'] >= 25) & (df['City'] == 'Delhi')]
print(result)

    Name  Age       City
1   Arun   30     Mumbai
3  Dhruv   35  Bangalore


  Name  Age   City
0  Ali   25  Delhi

Select any row from a dataframe using iloc[]

In [52]:
import pandas as pd
data = {
    'Name': ['Ali', 'Arun', 'Charul', 'Dhruv'],
    'Age': [25, 30, 22, 35],
    'City': ['Delhi', 'Mumbai', 'Delhi', 'Bangalore']
}
df = pd.DataFrame(data)
print(df)
print('\n')
print(df.iloc[1:2,:])

     Name  Age       City
0     Ali   25      Delhi
1    Arun   30     Mumbai
2  Charul   22      Delhi
3   Dhruv   35  Bangalore


   Name  Age    City
1  Arun   30  Mumbai

Limited rows selection with given column

In [54]:
import pandas as pd
data = {
    'Name': ['Ali', 'Arun', 'Charul', 'Dhruv'],
    'Age': [25, 30, 22, 35],
    'City': ['Delhi', 'Mumbai', 'Delhi', 'Bangalore']
}
df = pd.DataFrame(data)
print(df)
print('\n')
result = df.iloc[:3, :2]
print(result)

     Name  Age       City
0     Ali   25      Delhi
1    Arun   30     Mumbai
2  Charul   22      Delhi
3   Dhruv   35  Bangalore


     Name  Age
0     Ali   25
1    Arun   30
2  Charul   22

Drop rows from dataframe based on certain conditions applied on a column

In [62]:
import pandas as pd
data = {
    'Name': ['Ali', 'Arun', 'Charul', 'Dhruv'],
    'Age': [25, 30, 22, 35],
    'City': ['Delhi', 'Mumbai', 'Delhi', 'Bangalore']
}
df = pd.DataFrame(data)
print(df)
print('\n')
# dropping rows where city is delhi
drr = df[df['City'] != 'Delhi']
print(drr)

     Name  Age       City
0     Ali   25      Delhi
1    Arun   30     Mumbai
2  Charul   22      Delhi
3   Dhruv   35  Bangalore


    Name  Age       City
1   Arun   30     Mumbai
3  Dhruv   35  Bangalore

Insert row at given position in pandas dataframe

In [66]:
import pandas as pd
data = {
    'Name': ['Ali', 'Arun', 'Charul', 'Dhruv'],
    'Age': [25, 30, 22, 35],
    'City': ['Delhi', 'Mumbai', 'Delhi', 'Bangalore']
}
df = pd.DataFrame(data)
print(df)
print('\n')
new_row = pd.DataFrame([{'Name': 'Rubii', 'Age': 28, 'City':'Hyderabad'}])
# Insert at position 1
df = pd.concat([df.iloc[:1], new_row, df.iloc[1:]]).reset_index(drop=True)
print(df)

     Name  Age       City
0     Ali   25      Delhi
1    Arun   30     Mumbai
2  Charul   22      Delhi
3   Dhruv   35  Bangalore


     Name  Age       City
0     Ali   25      Delhi
1   Rubii   28  Hyderabad
2    Arun   30     Mumbai
3  Charul   22      Delhi
4   Dhruv   35  Bangalore

Create a list from rows in Pandas dataframe

In [68]:
import pandas as pd
data = {
    'Name': ['Ali', 'Arun', 'Charul', 'Dhruv'],
    'Age': [25, 30, 22, 35],
    'City': ['Delhi', 'Mumbai', 'Delhi', 'Bangalore']
}
df = pd.DataFrame(data)
print(df)
print('\n')
rows_as_lists = df.values.tolist()
print(rows_as_lists)

     Name  Age       City
0     Ali   25      Delhi
1    Arun   30     Mumbai
2  Charul   22      Delhi
3   Dhruv   35  Bangalore


[['Ali', 25, 'Delhi'], ['Arun', 30, 'Mumbai'], ['Charul', 22, 'Delhi'], ['Dhruv', 35, 'Bangalore']]

# ----------------DONE-----------------------