# Assignment 2

 1 Input a number from user and find its factorial using for loop

In [2]:
n = int(input("enter any number: "))
f = 1
for i in range(1,n+1):
    f*=i

print("factorial is: ",f)

enter any number:  5

factorial is:  120

2 Create a billing program using list. Program should have options to 
  1. Create Bill
  2. Display Item Price and total bill amount
  3. Display Total
  4. Exit

In [27]:
prices = []
items = []

while True:
    print("1. Create Bill")
    print("2. Display Item Price and total bill amount")
    print("3. Display Total")
    print("4. Exit")
    choice = input("enter your choice from 1-4")
    if choice == '1':
        item = input("enter item name: ")
        price = float(input("enter the price: "))
        items.append(item)
        prices.append(price)
        print(f"'{item}' added to bill.")
    elif choice == '2':
        if not items:
            print('No items in bill')
        else:
            print("\nBill Details")
            for i in range(len(items)):
                print(f"{items[i]} - rs{prices[i]}")
            print("Total Amount: rs", sum(prices))

    elif choice == '3':
        print("Total Amount to Pay: rs", sum(prices))

    elif choice == '4':
        print("Thank you for using the billing system!")
        break

    else:
        print("Invalid choice! Please enter between 1 and 4.")

1. Create Bill
2. Display Item Price and total bill amount
3. Display Total
4. Exit

enter your choice from 1-4 1
enter item name:  chocolate
enter the price:  100

'chocolate' added to bill.
1. Create Bill
2. Display Item Price and total bill amount
3. Display Total
4. Exit

enter your choice from 1-4 1
enter item name:  chole bhature
enter the price:  80

'chole bhature' added to bill.
1. Create Bill
2. Display Item Price and total bill amount
3. Display Total
4. Exit

enter your choice from 1-4 1
enter item name:  maggie
enter the price:  40

'maggie' added to bill.
1. Create Bill
2. Display Item Price and total bill amount
3. Display Total
4. Exit

enter your choice from 1-4 1
enter item name:  white sauce pasta
enter the price:  120

'white sauce pasta' added to bill.
1. Create Bill
2. Display Item Price and total bill amount
3. Display Total
4. Exit

enter your choice from 1-4 1
enter item name:  red velvet pastrie
enter the price:  90

'red velvet pastrie' added to bill.
1. Create Bill
2. Display Item Price and total bill amount
3. Display Total
4. Exit

enter your choice from 1-4 2

Bill Details
chocolate - rs100.0
chole bhature - rs80.0
maggie - rs40.0
white sauce pasta - rs120.0
red velvet pastrie - rs90.0
Total Amount: rs 430.0
1. Create Bill
2. Display Item Price and total bill amount
3. Display Total
4. Exit

enter your choice from 1-4 3

Total Amount to Pay: rs 430.0
1. Create Bill
2. Display Item Price and total bill amount
3. Display Total
4. Exit

enter your choice from 1-4 4

Thank you for using the billing system!

3 Write a  Python program to find the smallest number in a list.

In [15]:
lst = [34,22,90,78,56,45,89,12,9,87]
length = len(lst)
smallest = lst[0]
for i in range(0,length):
    if lst[i]<smallest:
        smallest = lst[i]

print("smallest number in the list is : ",smallest)

smallest number in the list is :  9

Write a  Python program to find the second greatest and second smallest number in a list.

In [15]:
lst = [34,22,90,78,56,45,89,12,9,87]
lst.sort()
print(lst)
second_smallest = lst[1]
print("second smallest no in list is:" ,second_smallest)
second_largest = lst[len(lst)-2]
print("second largest no in list is:" ,second_largest)

[9, 12, 22, 34, 45, 56, 78, 87, 89, 90]
second smallest no in list is: 12
second largest no in list is: 89

# Dictionary

In [64]:
d = {1:'python' , 2:'c++' , 3:'java' , 4:{1:'one' , 2:'two'}}
print(d)
print(type(d))
print(d[1])
print(d[4])
print(d[4][2])

{1: 'python', 2: 'c++', 3: 'java', 4: {1: 'one', 2: 'two'}}
<class 'dict'>
python
{1: 'one', 2: 'two'}
two

In [54]:
info = {'name':'tanu' , 'class':12}
print(info)
print(info['name'])

{'name': 'tanu', 'class': 12}
tanu

# adding new element

In [94]:
dic = {1:'python' , 2:'c++' , 3:'java' , 4:{1:'one' , 2:'two'}}
dic[5] = 'SQL'
dic2 = {}
print(dic)
print(dic.items())
print(dic.keys())
print(dic.values())
dic2.update(dic)
print(dic2)
print(dic.get(1))

{1: 'python', 2: 'c++', 3: 'java', 4: {1: 'one', 2: 'two'}, 5: 'SQL'}
dict_items([(1, 'python'), (2, 'c++'), (3, 'java'), (4, {1: 'one', 2: 'two'}), (5, 'SQL')])
dict_keys([1, 2, 3, 4, 5])
dict_values(['python', 'c++', 'java', {1: 'one', 2: 'two'}, 'SQL'])
{1: 'python', 2: 'c++', 3: 'java', 4: {1: 'one', 2: 'two'}, 5: 'SQL'}
python

In [98]:
dic1 = {'a':1,'b':2}
dic2 = {'c':3 , 'd':4}
dic2.update(dic1)
print(dic2)

{'c': 3, 'd': 4, 'a': 1, 'b': 2}

tuple -- ordered and unchangeable , allow duplicate values , after creation,, tuple can't be changed
tuple can be deleted using del keyword

In [102]:
t = (10,20,30,40,40,40)
print(t)
print(type(t))

(10, 20, 30, 40, 40, 40)
<class 'tuple'>

In [114]:
tu = (1,True,'hlo',45,89)
l = len(tu)
for i in range(l):
    print(i,tu[i])

print(t[2])

0 1
1 True
2 hlo
3 45
4 89
30

In [118]:
tu = (1,True,'hlo',45,89)
l = len(tu)
for i in tu:
    print(i)

1
True
hlo
45
89

In [122]:
t1= (0,1,2,3)
t2= ('a','b')
t3= (True , False , None)
print(t1+t2+t3)

(0, 1, 2, 3, 'a', 'b', True, False, None)

In [126]:
t1= (0,1,2,3)
t2= ('a','b')
t3 = (t1,t2)
print(t3)

((0, 1, 2, 3), ('a', 'b'))

In [134]:
t1 = ('xyz','hlo')*3
print(t1)
t2 = ('xyz')*4
print(t2)

('xyz', 'hlo', 'xyz', 'hlo', 'xyz', 'hlo')
xyzxyzxyzxyz

In [140]:
t=(10,20,4,5,6,65,4,4)
print(t[1:])
print(t[::-1])

(20, 4, 5, 6, 65, 4, 4)
(4, 4, 65, 6, 5, 4, 20, 10)

In [144]:
t=(10,20,4,5,6,65,4,4)
del(t)
# whole tuple can be deleted using sel keyword & get name error if try to access it
print(t)

NameError: name 't' is not defined

In [148]:
l=[10,20,30]
t=tuple(l)
print(t)
print(type(t))

(10, 20, 30)
<class 'tuple'>

In [156]:
t=(10,20,4,5,6,65,4,4)
print(min(t))
print(max(t))
print(t.count(4))
print(t.index(4))
print(sum(t))

4
65
3
2
118

# Set

items unchangeable but ve can remove and add items and unindexed .. no empty set
duplicates arenot allowed
True and 1 , False and 0 are considered as same

In [175]:
s={'a','b','c','d','e'}
s.add('mango')
print(s)

{'c', 'e', 'mango', 'd', 'b', 'a'}

In [179]:
s1={'a','b','c','d','e'}
s2={10,20,30,40}
#union
s3 = s1.union(s2)
print(s3)
s4 = s1 | s2
print(s4)

{'c', 'e', 'd', 40, 'b', 10, 'a', 20, 30}
{'c', 'e', 'd', 40, 'b', 10, 'a', 20, 30}

In [185]:
s1={'a','b','c','d','e',10,20}
s2={10,20,30,40,'d'}
s3 = s1.intersection(s2)
print(s3)
s4 = s1 & s2
print(s4)

{10, 20, 'd'}
{10, 20, 'd'}

In [189]:
s1={'a','b','c','d','e',10,20}
s2={10,20,30,40,'d'}
s3 = s1.difference(s2)
print(s3)
s4 = s1-s2
print(s4)

{'a', 'b', 'c', 'e'}
{'a', 'b', 'c', 'e'}

In [191]:
s2={10,20,30,40,'d'}
s2.clear()
print(s2)

set()

# User-defined Functions

In [198]:
def my_fun(name):
    print('Hello', name)


my_fun('Python')

Hello Python

In [222]:
def add(a=0,b=0):
    res = a+b
    return res
s1 = add(12,56)
print(s1)

68

In [249]:
# if no of arguments are unknown then use * symbol
def fun(*city):
    print("last city is:",city[1])

fun('a','b','c','s')

last city is: b

In [245]:
def func(city3,city2,city1):
        print("the first city is:"+city1)

func('jaipur','kota','alwar')

the first city is:alwar

In [257]:
def fun(**city):
    print(" city last name is:"+city['lname'])

fun(fname = 'a',lname ='b',kname='c')

 city last name is:b

In [261]:
f = open('new.txt','w')
f.write('this is  first line \n')
f.write('hlo.. i am learning python')
f.close()

In [263]:
f = open('new.txt','r')
for x in f:
    print(x)

this is  first line

hlo.. i am learning python

In [267]:
f = open('new.txt','r')
print(f.read())

this is  first line
hlo.. i am learning python

In [269]:
with open("new.txt") as f:
    data = f.read()

print(data)

this is  first line
hlo.. i am learning python

In [273]:
f = open('new.txt','a')
f.write('this is  append\n')
f.write('hlo performing append functions')
f.close()